<meta charset="UTF-8">
<title>EJS + Nitro is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<style>
    body { padding-top:50px; }
    html {
        background-color: #111 !important;
        color: #f0f0f0 !important;
    }
</style>